*{
     margin:0 auto;
     padding:0;
}
body{
	text-align:center;
}
.bigbigdiv{
	overflow:hidden;
}
.commentbig{
	width:620px;
    border:0px;
    cellpadding:0px;
    cellspacing:0px;
    align:center;
	float:left;
    margin:0 auto;
    margin-left:30px;
    /*background-color:pink;*/
}
.commentmiddle{
	width:620px;
    border:0px;
    cellpadding:0px;
    cellspacing:0px;
    align:center;
	float:left;
    margin:0 auto;
    margin-left:30px;
    
}
.commtextarea,mytextarea{
    border:0;  
    background-color:#ffffff;  
    scrollbar-arrow-color:#ffffff;  
    scrollbar-base-color:lightsalmon;  
    overflow: hidden;  
    color: #666464;  
    height: auto; 
    line-height:20px;
    display:block;
    margin-left:0px; 
    margin-top:40px;
    background-color:#fdfdfd;
}
.mytextarea{
	border:0;   
    /*overflow: hidden;*/  
    color: #302f2d;  
    height: auto; 
    line-height:20px;
    display:block;
    margin-left:0px; 
    /*border:1px solid #ed4042;*/
    background-color:#f1f1f1;
}
.commentbottom{
	width:620px;
	height:120px;
    border:0px;
    cellpadding:0px;
    cellspacing:0px;
    align:center;
	float:left;
    margin:0 auto;
    margin-left:30px;
    /*background-color:green;*/
}
.liuyanbuttom{
	width:100px;
	height:28px;
    border:0px;
    cellpadding:0px;
    cellspacing:0px;
    align:center;
	float:left;
    margin:0 auto;
    margin-left:260px;
    cursor:hand;
}