<?xml version='1.0' encoding='gb2312'?>   
<!--表明解析本XML文件的DTD文档位置，DTD是Document Type Definition 的缩写,即文档类型的定义,XML解析器使用DTD文档来检查XML文件的合法性。hibernate.sourceforge.net/hibernate-configuration-3.0dtd可以在Hibernate3.1.3软件包中的src\org\hibernate目录中找到此文件-->   
<!DOCTYPE hibernate-configuration PUBLIC   
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"   
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- 配置hibernate基本属性 -->
	<!-- 1.数据源需配置到IOC容器中，此处不再配置数据源 -->
	<!-- 2.关联的hbm.xml也在IOC容器配置SessionFactory实例时在进行配置-->
	<!-- 3.配置hibernate基本属性：方言，SQL显示及格式化，生成数据表的策略以及二级缓存等。 -->
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.format_sql">true</property>
	<property name="hibernate.hbm2ddl.auto">update</property>
	<!-- 配置hibernate的二级缓存 -->
</session-factory>
</hibernate-configuration>   